@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,500;1,600&family=Poppins:wght@200;300;400;500;700;800&family=Raleway:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark-blue: #0A3871;
  --gray: #495057;
  --light-gray: #D8DFE8;
  --dark-gray: #343A40;
}
body {
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif; 
  /* aqui se ponia una medida de 62.5% para usar em y asi 1em seria 10px pero no me acuerdo como se hacia */
}

.logo{
  margin: auto;
  padding-top: 2.5vw;
  margin-left: 1vh;
}

.container{
  width: 90vw;
  margin: 0 auto;
}

.second{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.form{
  width: 600px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

input{
  width: 380px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  background: transparent;
  border: none;
  color: var(--dark-blue);
  font-size: 32px;
  line-height: 150%;
  text-align: center;
}

input::placeholder{
  color: var(--dark-blue);
  font-size: 32px;
  line-height: 150%;
  border: none;
}


.btn{
  width: 228px;
  height: 67px;
  padding: 24px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 24px;
  border: none;
}

.btn:hover{
  opacity: .7;
}

.alert{
  display: flex;
  justify-content: flex-start;
}

.botones{
  display: flex;
}

.encriptar{
  background-color: var(--dark-blue);
  color: #ffff;
}

.desencriptar{
  background-color: var(--light-gray);
  color: var(--dark-blue);
  border: 1px solid #0A3871;
}

.result{
  background: #ffff;
  width: 300px;
  height: 544px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px #00000014;
}


figure img{
  width: 236px;
  height: 204px;
  margin: 0 auto;
}

.result__title{
  color: var(--dark-gray);
  font-size: 22px;
  text-align: center;
  line-height: 28px;
}

textarea{
  resize: none;
  color: var(--dark-gray);
  font-size: 16px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  border: none;
  
}

textarea::placeholder{
  color: var(--dark-gray);
  font-size: 16px;
  text-align: center;
}

.copiar{
  margin: 0 auto;
}

@media (max-width: 320px){
  .second{
    flex-direction: column;
    align-items: center;
    
  }
  .botones{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 375px){
  .second{
    flex-direction: column;
    align-items: center;
    
  }
  .botones{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 425px){
  .second{
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }
  .botones{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px){
  .second{
    align-items: center;
    
  }
  .botones{
    flex-direction: column;
    align-items: center;
  }
}
